[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Gemini maintainers
[access "refs/heads/*"]
	create = group Gemini maintainers
	push = +force group Gemini maintainers
	pushMerge = group Gemini maintainers
	label-Code-Review = -2..+2 group Gemini maintainers
	label-Verified = -1..+1 group Gemini maintainers
	submit = group Gemini maintainers
